@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {
    background: blue;
  }
}
@media only screen and (max-width: 767px) {
  * {
    overflow: hidden;
  }

  .header {
    position: relative;
  }

  .header-menu {
    display: none;
  }

  .container {
    max-width: 300px;
  }

  .estudo-item {
    margin-bottom: 40px;
  }
  .estudo-item span {
    margin-bottom: 0;
  }
  .estudo-item p {
    margin-bottom: 10px;
  }

  .card-servico {
    margin-bottom: 40px;
  }

  .card-tecnologia {
    margin-bottom: 40px;
    border: none;
  }
  .card-tecnologia ul {
    width: 100%;
    margin-left: 25px;
  }
  .card-tecnologia .card-chamada-servico {
    width: 100%;
  }
  .card-tecnologia .card-chamada-servico h3 {
    margin-top: 15px;
    margin-bottom: 45px;
  }

  .card-contato p {
    margin-bottom: 40px;
  }

  .opiniao cite {
    width: 100%;
    font-size: calc(2.69286vw + 11.14286px);
  }

  .chamada {
    font-size: calc(2.69286vw + 11.14286px);
    line-height: 1.4em;
    padding: 30px 20px;
  }

  .contato .contato-form .area {
    height: 150px;
  }

  .footer div {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .footer nav {
    padding-bottom: 30px;
  }
  .footer p {
    margin-bottom: 20px;
  }
  .footer .footer-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sobre-interna {
    grid-template-columns: 1fr;
  }
  .sobre-interna img {
    display: none;
  }
  .sobre-interna .sobre-descricao {
    max-width: 300px;
    margin: 0 auto;
  }

  .beneficios .beneficio {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .beneficios .beneficio:nth-child(odd) div {
    margin-left: 0;
  }

  .contato {
    margin: 0;
  }

  .contato .contato-form .input {
    width: 100%;
    margin-bottom: 15px;
  }

  .contato .contato-form .area {
    margin-top: 0px;
  }

  .titulo-preto,
.titulo-branco,
.titulo-branco-centralizado {
    font-size: calc(3.39286vw + 11.14286px);
  }

  .subtitulo-interna {
    font-size: calc(.68182vw + 13.81818px) !important;
    line-height: 1.4em;
  }

  .quebra-cliente {
    padding: 40px 20px;
  }
  .quebra-cliente h3 {
    font-size: calc(3.39286vw + 11.14286px);
  }

  .menu-wrapper {
    position: absolute;
    top: 20px;
    left: 0;
    right: -220px;
    bottom: 0;
    margin: auto;
    width: 65px;
    height: 45px;
    cursor: pointer;
    z-index: 2;
  }

  .hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 65px;
    height: 5px;
  }

  .hamburger-menu {
    position: relative;
    transform: translateY(20px);
    background: white;
    transition: all 0ms 300ms;
  }
  .hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
  }

  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    background: white;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    background: white;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu-mobile {
    position: absolute;
    z-index: 1;
    left: 0;
    background: #262626;
    width: 100vw;
    height: calc(100vh - 150px);
    padding-top: 10px;
  }
  .menu-mobile li {
    color: #f2f2f2;
    text-align: right;
    padding-top: calc(.56818vw + 8.18182px);
    padding-bottom: calc(.56818vw + 8.18182px);
  }
  .menu-mobile li a {
    font-size: calc(3.18182vw + 21.81818px);
    text-transform: capitalize;
  }

  .menu-mobile.active {
    display: block;
    opacity: 1;
  }
}

/*# sourceMappingURL=responsivo.css.map */
