@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
.card-call, .texto-call {
  font-size: 1.125rem;
  font-weight: lighter;
}

.footer .link-menu {
  font-size: 1rem;
  font-weight: lighter;
}

.menu-superior .header-menu li a {
  font-size: 1.25rem;
  font-weight: normal;
}

.texto-preto {
  font-size: 1.125rem;
  font-weight: normal;
}

.titulo-branco-centralizado, .titulo-branco, .titulo-preto {
  font-size: 2.441rem;
  font-weight: bold;
}

.btn-branco {
  font-size: 1.25rem;
  font-weight: bold;
}

.footer .footer-titulo {
  font-size: 1rem;
  font-weight: bold;
}

.label {
  font-size: 0.64rem;
  font-weight: bold;
}

body,
p,
h1,
h2,
h3,
ul,
li {
  margin: 0px;
  padding: 0px;
  color: #f2f2f2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

body {
  background: #f2f2f2;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.titulo-branco-centralizado, .titulo-branco, .titulo-preto {
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 40px;
}

.titulo-branco-centralizado::after, .titulo-branco::after, .titulo-preto::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
}

.titulo-preto {
  color: #262626;
}

.titulo-preto::after {
  background: #262626;
}

.titulo-branco {
  color: #f2f2f2;
}

.titulo-branco::after {
  background: #f2f2f2;
}

.titulo-branco-centralizado {
  color: #f2f2f2;
  text-align: center;
}

.titulo-branco-centralizado::after {
  background: #f2f2f2;
  margin: 0 auto;
  margin-top: 10px;
}

.texto-preto {
  line-height: 1.4;
}

.texto-preto {
  color: #262626;
}

.texto-call {
  text-align: center;
}

.label {
  display: block;
  text-transform: uppercase;
  color: #5c8ef2;
  padding: 10px 0;
}

.label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  margin-right: 10px;
  margin-left: 15px;
  background: #5c8ef2;
  margin-bottom: 2px;
}

.card-call {
  position: relative;
  padding: 10px;
  color: #5c8ef2;
}

.card-call::after {
  content: "→";
  position: absolute;
  padding-left: 15px;
  animation: seta 0.5s ease-in 0s infinite alternate;
}

.card-call:hover {
  color: #2f4073;
}

.btn-branco {
  text-transform: uppercase;
  display: block;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-branco:hover, .card-call:hover {
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

*:hover {
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.btn-branco {
  border: 3px solid #f2f2f2;
  color: #f2f2f2;
}

.btn-branco:hover {
  background: #f2f2f2;
  color: #262626;
}

.header {
  background: #262626;
  display: flex;
}

.link-menu {
  color: #f2f2f2;
  padding: 10px;
}

.link-menu:hover {
  color: #5c8ef2;
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.menu-superior {
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;
}
.menu-superior .header-menu li {
  display: inline-block;
}
.menu-superior .header-menu li a {
  text-transform: uppercase;
}

.footer {
  background: #262626;
}
.footer div {
  display: flex;
  align-items: center;
}
.footer nav {
  padding-bottom: 60px;
}
.footer .footer-titulo {
  text-transform: uppercase;
  color: #4b75f2;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 10px;
}
.footer .redes li,
.footer .contato-footer li {
  display: block;
  margin-bottom: 10px;
}
@keyframes seta {
  from {
    transform: translate3d(3px, 0, 0);
  }
}

/*# sourceMappingURL=styles.css.map */
