@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
.subtitulo-interna, .card-call, .texto-call {
  font-size: 1.125rem;
  font-weight: lighter;
}

.footer .link-menu {
  font-size: 1rem;
  font-weight: lighter;
}

.contato .info p {
  font-size: 1.563rem;
  font-weight: normal;
}

.menu-superior .header-menu li a {
  font-size: 1.25rem;
  font-weight: normal;
}

.contato .contato-form .area, .contato .contato-form .input, .texto-branco, .texto-preto {
  font-size: 1.125rem;
  font-weight: normal;
}

.typewriter h1 {
  font-size: 3.052rem;
  font-weight: bold;
}

.titulo-branco-centralizado, .titulo-branco, .titulo-preto {
  font-size: 2.441rem;
  font-weight: bold;
}

.contato .info span, .contato h2 {
  font-size: 1.953rem;
  font-weight: bold;
}

.btn-preto, .btn-azul, .btn-branco {
  font-size: 1.25rem;
  font-weight: bold;
}

.estudo-item div p, .footer .footer-titulo {
  font-size: 1rem;
  font-weight: bold;
}

.label {
  font-size: 0.64rem;
  font-weight: bold;
}

body,
p,
h1,
h2,
h3,
ul,
li {
  margin: 0px;
  padding: 0px;
  color: #f2f2f2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

body {
  background: #f2f2f2;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.bg-preto {
  background: #262626;
}

.bg-branco {
  background: #f2f2f2 !important;
}

.typewriter {
  padding: 60px 0;
  background: #262626;
}
.typewriter h1::after {
  content: "|";
  margin-left: 2px;
  opacity: 1;
  animation: blink 0.7s infinite;
}

.titulo-branco-centralizado, .titulo-branco, .titulo-preto {
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 40px;
}

.titulo-branco-centralizado::after, .titulo-branco::after, .titulo-preto::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
}

.titulo-preto {
  color: #262626;
}

.titulo-preto::after {
  background: #262626;
}

.titulo-branco {
  color: #f2f2f2;
}

.titulo-branco::after {
  background: #f2f2f2;
}

.titulo-branco-centralizado {
  color: #f2f2f2;
  text-align: center;
}

.titulo-branco-centralizado::after {
  background: #f2f2f2;
  margin: 0 auto;
  margin-top: 10px;
}

.texto-branco, .texto-preto {
  line-height: 1.4;
}

.texto-preto {
  color: #262626;
}

.texto-branco {
  color: #f2f2f2;
}

.texto-call {
  text-align: center;
}

.label {
  display: block;
  text-transform: uppercase;
  color: #5c8ef2;
  padding: 10px 0;
}

.label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  margin-right: 10px;
  margin-left: 15px;
  background: #5c8ef2;
  margin-bottom: 2px;
}

.card-call {
  position: relative;
  padding: 10px;
  color: #5c8ef2;
}

.card-call::after {
  content: "→";
  position: absolute;
  padding-left: 15px;
  animation: seta 0.5s ease-in 0s infinite alternate;
}

.card-call:hover {
  color: #2f4073;
}

.subtitulo-interna {
  color: #262626;
}

.btn-preto, .btn-azul, .btn-branco {
  text-transform: uppercase;
  display: block;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-preto:hover, .btn-azul:hover, .btn-branco:hover, .card-call:hover {
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

*:hover {
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.btn-branco {
  border: 3px solid #f2f2f2;
  color: #f2f2f2;
}

.btn-branco:hover {
  background: #f2f2f2;
  color: #262626;
}

.btn-azul {
  border: 3px solid #2f4073;
  color: #2f4073;
}

.btn-azul:hover {
  background: #2f4073;
  color: #f2f2f2;
}

.btn-preto {
  border: 3px solid #262626;
  color: #262626;
}

.btn-preto:hover {
  background: #262626;
  color: #f2f2f2;
}

.header {
  background: #262626;
  display: flex;
}

.link-menu {
  color: #f2f2f2;
  padding: 10px;
}

.link-menu:hover {
  color: #5c8ef2;
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.menu-superior {
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;
}
.menu-superior .header-menu li {
  display: inline-block;
}
.menu-superior .header-menu li a {
  text-transform: uppercase;
}

.footer {
  background: #262626;
}
.footer div {
  display: flex;
  align-items: center;
}
.footer nav {
  padding-bottom: 60px;
}
.footer .footer-titulo {
  text-transform: uppercase;
  color: #4b75f2;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 10px;
}
.footer .redes li,
.footer .contato-footer li {
  display: block;
  margin-bottom: 10px;
}
@keyframes seta {
  from {
    transform: translate3d(3px, 0, 0);
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.estudo-item {
  background: #e3e3e3;
}
.estudo-item div {
  height: 150px;
  flex-direction: column;
}
.estudo-item div p {
  color: #262626;
  margin-left: 15px;
  line-height: 1.4;
  flex-grow: 1;
}

.estudo-item:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.contato {
  background: #262626;
  padding: 60px 0;
}
.contato h2 {
  line-height: 1.3;
}
.contato .info p {
  line-height: 1;
  margin-bottom: 5px;
}
.contato .info span {
  display: block;
  margin-bottom: 60px;
}
.contato .contato-form {
  margin-top: 30px;
}
.contato .contato-form .input {
  width: calc(50% - 10px);
  border: 3px solid #f2f2f2;
  background: transparent;
  padding: 10px;
  color: #f2f2f2;
}
.contato .contato-form input[type=text] {
  margin-right: 16px;
}
.contato .contato-form .area {
  display: block;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border: 3px solid #f2f2f2;
  background: transparent;
  padding: 10px;
  color: #f2f2f2;
}
.contato .contato-form .btn-branco {
  margin-top: 20px;
  float: right;
}

/*# sourceMappingURL=styles.css.map */
