// Definindo tipografia utilizada

%light31 {
    font-size: 1.953rem;
    font-weight: lighter;
}

%light18 {
    font-size: 1.125rem;
    font-weight: lighter;
}

%light16 {
    font-size: 1rem;
    font-weight: lighter;
}

%regular48 {
    font-size: 3.052rem;
    font-weight: normal;
}

%regular31 {
    font-size: 1.953rem;
    font-weight: normal;
}

%regular25 {
    font-size: 1.563rem;
    font-weight: normal;
}

%regular20 {
    font-size: 1.25rem;
    font-weight: normal;
}


%regular18 {
    font-size: 1.125rem;
    font-weight: normal;
}

%regular16 {
    font-size: 1rem;
    font-weight: normal;
}

%bold48 {
    font-size: 3.052rem;
    font-weight: bold;
}

%bold39 {
    font-size: 2.441rem;
    font-weight: bold;
}

%bold31 {
    font-size: 1.953rem;
    font-weight: bold;
}

%bold25 {
    font-size: 1.563rem;
    font-weight: bold;
}

%bold20 {
    font-size: 1.25rem;
    font-weight: bold;
}

%bold16 {
    font-size: 1rem;
    font-weight: bold;
}

%bold10 {
    font-size: 0.64rem;
    font-weight: bold;
}

%bold13 {
    font-size: 0.8rem;
    font-weight: bold;
}