@import 'tipografias';
@import 'colors';

.trabalhos {
    padding: 60px 0;

    .titulo-preto {
        margin-bottom: 30px;
    }
}

.lista-trabalhos {
    margin-top: 40px;
}

.card-contato {
    background: $azulEscuro;
    padding: 25px;
    flex-direction: column;

    h2 {
        @extend %bold31;
    }

    p {
        margin-top: 30px;
        @extend %regular18;
        flex-grow: 1;
    }

    .btn-branco {
        align-self: flex-start;
    }
}

.opiniao {
    background: $preto;
    padding: 60px 0;

    img {
        margin: 0 auto;
    }

    cite {
        display: block;
        margin: 60px auto 0;
        @extend %regular31;
        font-style: normal;
        text-align: center;
        line-height: 1.4;
    }
}

.servicos {
    padding-top: 60px;
    flex-direction: column;
}

.lista-servicos {
    margin-top: 40px;

    .card-servico {
        display: flex;
        flex-direction: column;

        span {
            display: block;
            @extend %bold39;
            color: $preto;
        }

        h2 {
            @extend %bold31;
            color: $preto;
            margin-top: 10px;
        }

        p {
            @extend %light18;
            color: $preto;
            margin-top: 10px;
        }

        .caracteristicas {
            margin-top: 40px;
            flex-grow: 1;

            li {
                @extend %light18;
                color: $preto;
                margin-bottom: 10px;
            }

            li::before {
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                background: $preto;
                margin-right: 15px;
                border-radius: 50%;
                margin-bottom: 3px;
            }
        }

        .btn-preto {
            margin-top: 10px;
            align-self: flex-start;
        }
    }
}

.metodologia {
    background: $preto;
    padding: 60px 0;

    .titulo-branco {
        margin-bottom: 30px;
    }

    .subtitulo-interna {
        color: $branco;
    }

    .lista-metodos {
        margin-top: 40px;
    }

    .card-metodologia {
        background: $branco;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        h3 {
            @extend %bold20;
            color: $preto;
            margin-top: 20px;
            margin-left: 20px;
            flex-grow: 1;
        }

        span {
            display: block;
            @extend %regular16;
            color: $branco;
            margin-top: 20px;
            margin-left: 10px;
            padding: 10px 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
            background: $azulEscuro;
            align-self: flex-start;
        }
    }

    .card-contato {
        margin-bottom: 20px;
    }
}

.tecnologias {
    padding: 60px 0;
}

.lista-tecnologias {
    margin-top: 40px;
    flex-direction: column;
}

.card-tecnologia {
    background: $azulEscuro;
    align-self: flex-end;
    justify-content: space-between;
    border-bottom: 3px solid $azulClaro;

    h2 {
        @extend %bold31;
        margin-top: 25px;
        margin-left: 25px;
        max-width: 240px;
    }

    h2::after {
        content: "";
        display: block;
        margin-top: 10px;
        width: 60px;
        height: 3px;
        background: $branco;
    }

    ul {
        margin-top: 25px;
        margin-right: 25px;
        flex-grow: 1;

        li {
            @extend %light18;
            margin-bottom: 25px;
        }
    }

    .card-chamada-servico {
        width: 370px;
        background: $bg;
        margin: 0;

        padding: 70px 0 40px 30px;

        p {
            @extend %light18;
            color: $preto;
        }

        h3 {
            @extend %bold31;
            color: $azulEscuro;
            margin-top: 30px;
            margin-bottom: 90px;
        }
    }
}

.sobre {
    background: $preto;
    padding-top: 60px;
    flex-direction: column;

    .subtitulo-interna {
        color: $branco;
    }
}

.contato {
    background: $branco;

    h2 {
        @extend %bold25;
        color: $preto;
    }

    .contato-form {
        margin-top: 0px;

        .input,
        .area {
            border: none;
            border-bottom: 2px solid $preto;
            color: $preto;
            width: 100%;
            margin-top: 10px;
        }

        .btn-preto {
            float: right;
            margin-top: 30px;
        }
    }
}