@import "colors";

// Media Query meio
@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        background: blue;
    }
}


// Mobile
@media only screen and (max-width: 767px) {
    .menu-wrapper {
        display: block;
    }

    .header {
        position: relative;
    }

    .header-menu {
        display: none;
    }

    .menu-mobile.active {
        display: block;
        opacity: 1;
    }

    .menu-mobile {
        opacity: 0;
        position: absolute;
        top: 0;
        margin-top: 150px;
        height: calc(100vh - 150px);
        z-index: 2;
        background: $preto;
        width: 100vw;

        ul {
            max-width: 300px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            padding: 40px 0;

            li {
                color: $branco;
                text-align: right;
                padding-top: calc(.56818vw + 8.18182px);
                padding-bottom: calc(.56818vw + 8.18182px);

                a {
                    font-size: calc(3.18182vw + 21.81818px);
                    text-transform: capitalize;
                }
            }
        }
    }


    .container {
        max-width: 300px;
    }

    .estudo-item {
        margin-bottom: 40px;

        span {
            margin-bottom: 0;
        }

        p {
            margin-bottom: 10px;
        }
    }

    .card-servico {
        margin-bottom: 40px;
    }

    .card-tecnologia {
        margin-bottom: 40px;
        border: none;

        ul {
            width: 100%;
            margin-left: 25px;
        }

        .card-chamada-servico {
            width: 100%;

            h3 {
                margin-top: 15px;
                margin-bottom: 45px;
            }
        }
    }

    .card-contato {
        p {
            margin-bottom: 40px;
        }
    }

    .opiniao {
        cite {
            width: 100%;
            font-size: calc(2.69286vw + 11.14286px);
        }
    }

    .chamada {
        font-size: calc(2.69286vw + 11.14286px);
        line-height: 1.4em;
        padding: 30px 20px;
    }

    .contato .contato-form .area {
        height: 150px;
    }

    .footer {
        div {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        nav {
            padding-bottom: 30px;
        }

        p {
            margin-bottom: 20px;
        }

        .footer-titulo {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .sobre-interna {
        grid-template-columns: 1fr;

        img {
            display: none;
        }

        .sobre-descricao {
            max-width: 300px;
            margin: 0 auto;
        }
    }

    .beneficios {
        .beneficio {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
        }

        .beneficio:nth-child(odd) div {
            margin-left: 0;
        }
    }

    .contato {
        margin: 0;
    }

    .contato .contato-form .input {
        width: 100%;
        margin-bottom: 15px;
    }

    .contato .contato-form .area {
        margin-top: 0px;
    }

    .titulo-preto,
    .titulo-branco,
    .titulo-branco-centralizado {
        font-size: calc(3.39286vw + 11.14286px);
    }

    .subtitulo-interna {
        font-size: calc(.68182vw + 13.81818px) !important;
        line-height: 1.4em;
    }

    .quebra-cliente {
        padding: 40px 20px;

        h3 {
            font-size: calc(3.39286vw + 11.14286px);
        }
    }

    .quebra-contato {
        padding: 40px 0px;
    }

    .beneficios .lista-beneficios::after {
        content: none;
    }


}