@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

// importando cores
@import 'colors';
@import 'tipografias';

// Resetando estilos

body,
p,
h1,
h2,
h3,
ul,
li {
    margin: 0px;
    padding: 0px;
    color: $branco;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

body {
    background: $branco;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Definindo classe flex
.flex {
    display: flex;
    flex-wrap: wrap;
}

.bg-preto {
    background: $preto;
}

.bg-branco {
    background: $branco !important;
}

// Estilo typewritter
.typewriter {
    padding: 60px 0;
    background: $preto;

    h1 {
        @extend %bold48;
    }

    h1::after {
        content: "|";
        margin-left: 2px;
        opacity: 1;
        animation: blink 0.7s infinite;
    }
}


// Estilos de titulos
%titulo {
    @extend %bold39;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 40px;
}

%decorador {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
}

.titulo-preto {
    @extend %titulo;
    color: $preto;
}

.titulo-preto::after {
    @extend %decorador;
    background: $preto;
}

.titulo-branco {
    @extend %titulo;
    color: $branco;
}

.titulo-branco::after {
    @extend %decorador;
    background: $branco;
}

.titulo-branco-centralizado {
    @extend %titulo;
    color: $branco;
    text-align: center;
}

.titulo-branco-centralizado::after {
    @extend %decorador;
    background: $branco;
    margin: 0 auto;
    margin-top: 10px;
}

%texto {
    @extend %regular18;
    line-height: 1.4;
}

.texto-preto {
    @extend %texto;
    color: $preto;
}

.texto-branco {
    @extend %texto;
    color: $branco;
}

.texto-call {
    @extend %light18;
    text-align: center;
}

.label {
    display: block;
    @extend %bold10;
    text-transform: uppercase;
    color: $azulClaro;
    padding: 10px 0;
}

.label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    margin-right: 10px;
    margin-left: 15px;
    background: $azulClaro;
    margin-bottom: 2px;
}

.card-call {
    @extend %light18;
    position: relative;
    padding: 10px;
    color: $azulClaro;
}

.card-call::after {
    content: "→";
    position: absolute;
    padding-left: 15px;
    animation: seta .5s ease-in 0s infinite alternate;
}

.card-call:hover {
    @extend %btn-hover;
    color: $azulEscuro;
}

.subtitulo-interna {
    @extend %light18;
    color: $preto;
}

// Estilos de botoes
%btn {
    @extend %bold20;
    text-transform: uppercase;
    display: block;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
}

%btn-hover {
    -webkit-transition: all .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

*:hover {
    -webkit-transition: all .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.btn-branco {
    @extend %btn;
    border: 3px solid $branco;
    color: $branco;
}

.btn-branco:hover {
    @extend %btn-hover;
    background: $branco;
    color: $preto;
}

.btn-azul {
    @extend %btn;
    border: 3px solid $azulEscuro;
    color: $azulEscuro;
}

.btn-azul:hover {
    @extend %btn-hover;
    background: $azulEscuro;
    color: $branco;
}


.btn-preto {
    @extend %btn;
    border: 3px solid $preto;
    color: $preto;
}

.btn-preto:hover {
    @extend %btn-hover;
    background: $preto;
    color: $branco;
}

// Estilo header

.header {
    background: $preto;
    display: flex;
}

// Estilo geral de link dos menus
.link-menu {
    color: $branco;
    padding: 10px;
}

.link-menu:hover {
    color: $azulClaro;
    -webkit-transition: all .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.menu-superior {
    display: flex;
    padding: 25px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    .header-menu li {
        display: inline-block;

        a {
            @extend %regular20;
            text-transform: uppercase;
        }
    }
}

// Estilo Footer
.footer {
    background: $preto;

    div {
        display: flex;
        align-items: center;
    }

    nav {
        padding-bottom: 60px;
    }

    .footer-titulo {
        @extend %bold16;
        text-transform: uppercase;
        color: $azulMedio;
        margin-top: 60px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .redes li,
    .contato-footer li {
        display: block;
        margin-bottom: 10px;
    }

    .link-menu {
        @extend %light16;
    }
}

// Animações
@keyframes seta {
    from {
        transform: translate3d(3px, 0, 0);
    }

    to {}
}



@keyframes blink {

    0%,
    100% {}

    50% {
        opacity: 0;
    }
}

// Estilos de estudo de caso
.estudo-item {
    background: $bg;

}

.estudo-info {
    display: flex;

    span {
        height: 40px;
        margin-bottom: 10px;
    }

    p {
        @extend %bold16;
        color: $preto;
        flex-grow: 1;
        line-height: 1.4;
        margin-left: 15px;
        margin-bottom: 30px;
        height: 60px;
        overflow: hidden;
    }

    a {
        margin-left: 5px;
    }
}


.estudo-item:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.menu-wrapper {
    display: none;
}


// Definindo estilo de componente de contato

.contato {
    background: $preto;
    padding: 60px 0;

    h2 {
        @extend %bold31;
        line-height: 1.3;
    }

    .info {
        p {
            @extend %regular25;
            line-height: 1;
            margin-bottom: 5px;
        }

        span {
            display: block;
            @extend %bold31;
            margin-bottom: 60px;
        }
    }

    .contato-form {
        margin-top: 30px;

        .input {
            width: calc(50% - 10px);
            border: 3px solid $branco;
            background: transparent;
            padding: 10px;
            @extend %regular18;
            color: $branco;

        }

        input[type='text'] {
            margin-right: 16px;
        }

        .area {
            display: block;
            width: 100%;
            height: 200px;
            margin-top: 20px;
            border: 3px solid $branco;
            background: transparent;
            padding: 10px;
            @extend %regular18;
            color: $branco;
        }

        .btn-branco {
            margin-top: 20px;
            float: right;
        }
    }
}

.chamada {
    margin-top: 60px;
    background: $azulEscuro;
    @extend %regular31;
    padding: 60px 60px 60px 100px;
    align-self: flex-end;
    max-width: 925px;

    a {
        color: $branco;
        font-weight: bold;
        text-decoration: underline;
    }

    a:hover {
        color: $bg;
        text-decoration: none;
    }
}